#page{

    width: 968px;
    height: 950px;
    margin: auto;
    background-color: #E3E4DB;
    border: 3px solid rgb(221, 69, 95);
    margin-top: 40px;
    padding: 5px;
    font-family: monospace;
    font-size: 14px; 
    border-radius: 10px;
}

img{
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 10px;
}


form input[type="text"], input[type="email"], input[type="password"], input[type="file"]{
    border-radius: 10px;
    font-weight: 500;
    color: #DB2955;
    font-size: 16px;
    outline: none;
    background: #DDDFDF;
    border: none;
    padding: 15px 14px;
    margin: 10px 20px;
    overflow: hidden;
    margin-left: 100px;
    border: 2px solid #DB2955;
}

form input[type="submit"]{
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #E3E4DB;
    background: #DB2955;
    color: #FFEDDF;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
    margin-right: 65px;
}

button{
    float: right;
    margin-right: 100px;
}

form input:active[type="submit"]{
    transform: scale(0.9);
}

label{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #E3E4DB;
    text-decoration: none;
    border: none;
    margin: 0;
}

h2{
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    color:  #DB2955;
}

p{
    margin: 40px 20px;
    text-align: center;
    font-size: 22px;
    color:  #DB2955
}
label{
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    color:  #DB2955;
}