@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


section{
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    margin-left: 8px;
    background-color: #E3E4DB;
    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    height: 89vh;
    margin-top: 0;
    overflow: auto;
}
.container{
    display: block;
    background-color: #FFEDDF;
    height: 100%;
    width: 100%;
    opacity:1;
    border-radius: 10px;
}
.left-container{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin-left: 2%;
    background-color: #E3E4DB;
    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    height: 89vh;
    margin-top: 0;
    overflow: auto;
}
.right-container{
    display: inline-flex;
    flex-direction: column;
    width: 22.5%;
    margin-left: 10px;
    background-color: #E3E4DB;
    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    height: 89vh;
    margin-top: 0;
    overflow: auto;
}

.image
{
    height: 20px;
    width: 60px;
}


form{
    margin-top: 20px;
    color: #FFEDDF;
}
form input[type="text"], input[type="email"]{
    border-radius: 10px;
    font-weight: 500;
    color: #DB2955;
    font-size: 16px;
    outline: none;
    background: #FFEDDF;
    border: 0.5px solid #011627;
    padding: 12px 10px;
    margin: 10px 0;
    width: 65%;
    overflow: hidden;
}
h2{
    padding: 10px;
}
h3{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.user_logo{
    background: #FFEDDF;
    border-radius: 50%;
    align-items: center;
}


.crop 
{
    width: 100px;
    overflow: hidden;
}

.crop img 
{
    width: 70px;
    height: 70px;
}

.crop img:hover 
{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* #username:hover
{
    text-decoration: underline;
} */


/* Style the tab */
.tab {
    float: left;
    width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: #011627;
    padding: 5px 5px;
    font-size: 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.heading{
    background: #DB2955;
    margin: auto;
    padding: 10px;
    display: block;
    font-size: 35px;
}

.add_expense, .settle_up{
    float: right;
}
.expense_container{
    padding: 10px;
    float: right;
}
span{
    font-size: 30px;
    font-weight: bold;
    font-family: 
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }