section{
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: 250px;
    background-color: #FFEDDF;
    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    height: 860px;
     margin-top: 0;
}
.container{
    display: block;
    background-color: #FFEDDF;
    height: 400px;
    width: 100%;
    opacity:1;
}
aside{
    display: inline-block;
    position: absolute;
    width: 20%;
    margin-left: 10px;
    background-color: #E3E4DB;
    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    height: 860px;
    margin-top: 0;
}

.image
{
    height: 20px;
    width: 60px;
}


form{
    margin-top: 20px;
    color: #FFEDDF;
    text-align: center;
}
form input[type="text"], input[type="email"]{
    border-radius: 10px;
    font-weight: 500;
    color: #DB2955;
    font-size: 16px;
    outline: none;
    background: #FFEDDF;
    border: 0.5px solid #011627;
    padding: 12px 10px;
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
}
.button{
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #E3E4DB;
    background: #DB2955;
    color: #FFEDDF;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 120px;
    height: 45px;   
}
.button:active{
    transform: scale(0.9);
}


h2{
    padding: 10px;
}
h3{
    color: #FFEDDF;
    text-transform: uppercase;
    margin: auto;
}
.user_logo{
    background: #FFEDDF;
    border-radius: 50%;
    align-items: center;
}


.crop 
{
    width: 100px;
    overflow: hidden;
}

.crop img 
{
    width: 70px;
    height: 70px;
}

.crop img:hover 
{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* #username:hover
{
    text-decoration: underline;
} */