@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #011627;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFEDDF;
    text-decoration: none;
    
}
h1{
    font-weight: bold;
    margin:0;
    color: #FFEDDF;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
.logo{
    cursor: pointer;
    color: #FFEDDF;
    padding: 0px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    margin-right: auto;
    border: 3px;
    border-style: solid;
    border-color: #DB2955;
    border-radius: 10px;
}
/* ######### Navigation Bar Designing ######### */

.nav-links{
    list-style: none;
    overflow: hidden;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav-links li a:hover{
    color: #DB2955;
}

button{
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #E3E4DB;
    background: #DB2955;
    color: #FFEDDF;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
button:active{
    transform: scale(0.9);
}
nav ul.nav-links li a.active{
    color: #DB2955;
}
/* ######## Mobile Responsive Navigation Bar ############ */
@media screen and (max-width: 680px) {
    .nav-links{
        display: none;
    }
    button{
        display: none;
    }
}
